footer{
    width: 100%;
    background-color: var(--background-color);

    .links{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 1.5rem;
        max-width: 1004px;
        margin: 0 auto;
        h4{
            font-size: 16px;
            color: var(--white-color);
            margin-bottom: 1rem;
        }
        ul{
            li{
                margin-bottom: 0.3rem;
                a{
                    text-decoration: underline;
                    font-size: 14px;
                    color: var(--white-color);
                }
            }
        }
    }
    .copy{
        padding: 2rem 1rem 2rem 1rem;
        background-color: #200400;

        .copy-content{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 1004px;
            margin: 0 auto;

            img{
                width: 70px;
                height: auto;
                margin-bottom: 0.5rem;
            }
            p{
                text-align: center;
                font-size: 13px;
                line-height: 1.4;
                color: var(--white-color);
            }
        }
    }

    @media screen and (min-width: 768px){
        .links{
            justify-content: space-around;
            h4{
                text-align: center;
            }
            ul{
                display: flex;
                li{
                    a{
                        font-size: 12px;
                        padding: 0.3rem 0.4rem;
                        &::after{
                            content: '|';
                            margin-left: 0.4rem;
                        }
                    }
                }
                li:last-of-type{
                    a{
                        &::after{
                            content: '';
                        }
                    }
                }
            }
        }
    }
}