header{
    position: fixed;
    z-index: 100000;
    height: 80px;
    width: 100%;
    padding: 0 2rem;
    background-color: transparent;
    transition: all .1s ease;

    &.colorfull-bg{
        transition: all .5s ease;
        background-color:#370a03;
        box-shadow: 1px 0px 3px #2208044b;
    }

    #navbar{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 1004px;

        .navbar-logo{
            color: var(--white-color);
            text-decoration: none;
            img{
                width: 80px;
                height: auto;
                object-fit: cover;
            }
        }

        .menu-burger{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            .menu-bar{
                position: relative;
                width: 25px;
                height: 3px;
                background-color: var(--white-color);
                &::after,
                &::before{
                    content: '';
                    position: absolute;
                    left: 0;
                    background-color: var(--white-color);
                    height: 100%;
                    width: 100%;
                }
                &::after{
                    bottom: 7px;
                }
                &::before{
                    bottom: -7px;
                }
            }
        }

        .navbar-mobile{
            position: absolute;
            top: 0;
            left: 0;
            height: 100vh;
            width: 70%;
            padding: 17px 0 0 2rem;
            background-color: var(--background-color);
            background-image: url('../../assets/textures/texture_3.png');
            transform: translateX(-100%);
            transition: transform .5s;
            z-index: 12;

            &.active{
                transform: translateX(0%);
            }

            &--list{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                &--item{
                    a{
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: 900;
                    }
                    a.book-link{
                        display: inline-block;
                        padding: 0.9rem 2rem;
                        background-color: var(--primary-color);
                    }
                }
            }

            .menu-burger-close{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                margin-bottom: 65px;
                .menu-bar{
                    position: relative;
                    width: 25px;
                    height: 3px;
                    background-color: var(--white-color);
                    rotate: 45deg;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        background-color: var(--white-color);
                        height: 100%;
                        width: 100%;
                        rotate: 90deg;
                    }
                }
            }

            &--footer{
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                // height: 40px;
                padding: 2rem 0 2rem 0;
                background-color: #2e0601;
                background-image: url('../../assets/textures/texture_2.png');
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    color: #5b2e26;
                }
            }
        }

        .navbar-desktop{
            display: none;
            .navbar--list{
                display: flex;
                align-items: center;
                gap: 1.5rem;
                &--item{
                    a{
                        position: relative;
                        display: inline-block;
                        padding: 0.3rem 0.5rem;
                        font-size: 13px;

                        &::after{
                            content: '';
                            position: absolute;
                            bottom: -5px;
                            left: 0;
                            width: 0%;
                            height: 1.5px;
                            background-color: var(--white-color);
                            border-radius: 8px;
                            opacity: 1;
                            transition: all .4s;
                        }

                        &:hover{
                            &::after{
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px){
        #navbar{
            flex-direction: row;
            .menu-burger{
                display: none;
            }
            .navbar-mobile{
                display: none;
            }
            .navbar-desktop{
                display: block;
            }
        }
    }

    @media screen and (min-width: 1024px){
        height: 80px;
        #navbar{
            max-width: 1000px;
            margin: 0 auto;
            .navbar-logo{
                img{
                    width: 120px;
                }
            }
            .navbar-desktop{
                .navbar--list{
                    &--item{
                        a{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}