
.altar{
    position: relative;
    padding: 4rem 0;
    z-index: 10;
    max-width: 1004px;
    margin: 0 auto;

    &--header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 1.5rem;
        h2{
            font-family: 'Lato', serif;
            z-index: 100;
            text-transform: uppercase;
            width: 100%;
            font-weight: 500;
            font-size: 40px;
            text-align: center;
            color: var(--primary-color);
        }
        p{
            display: none;
            z-index: 100;
            text-transform: capitalize;
            color: var(--primary-color);
            opacity: 0.9;
            text-align: center;
        }
    }
    &--content{
        display: flex;
        flex-direction: column;
        padding: 4rem 0 0;
        gap: 2rem;

        &-left{
            position: relative;
            display: flex;
            justify-content: flex-start;
            overflow: hidden;
            // margin: 0 auto;

            .swiper-wrapper,
            .altar-swiper{
                position: relative;
                // width: 80vw;
                height: 400px;
                border-radius: 15px;
            }

            .altar-swiper{
                width: 100vw;
                position: relative;
                .swiper-wrapper{
                    border-radius: 15px;
                    width: 80vw;
                    max-width: 400px;
                    .slide-image{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 50%;
                        img{
                            border-top-right-radius: 15px;
                            border-top-left-radius: 15px;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .slide-content{
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        background-color: #fafeff;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 50%;
                        padding: 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: flex-start;
                        &--header{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;
                            &-title{
                                font-size: 18px;
                                color:var(--palette-yellow);
                            }
                            &-subtitle{
                                font-size: 13px;
                                color: #375980;
                            }
                        }
                        &--main{
                            p{
                                margin: 1rem 0;
                                font-size: 13px;
                                line-height: 1.4;
                                color: #375980;

                            }
                        }
                        &--cta{
                            display: inline-block;
                            width: 100%;
                            padding: 0.5rem 0;
                            text-align: center;
                            border-radius: 5px;
                            background-color: var(--palette-yellow);
                            font-size: 17px;
                            line-height: 17px;
                            color: var(--white-color);
                            img{
                                margin-bottom: -1px;
                            }
                        }
                    }
                }
                .swiper-button-prev,
                .swiper-button-next{
                    position: absolute !important;
                    top: 40% !important;
                    color: var(--white-color) !important;
                }
            }
        }
        &-right{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            z-index: 100;
            padding: 0 1.5rem;
            h3{
                font-family: 'Lato', serif;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 25px;
                margin-bottom: 1.5rem;
                width: fit-content;
                color: var(--primary-color);
            }
            p{
                font-size: 12px;
                line-height: 1.7;
                color: var(--text-color-primary);
            }
            .calendar{
                p{
                    display: none;
                    margin-top: 1.5rem;
                    max-width: 400px;
                }
                &--cta{
                    display: inline-block;
                    margin-top: 1rem;
                    padding-bottom: 2px;
                    font-size: 14px;
                    font-style: italic;
                    border-bottom: 1px solid var(--palette-yellow);
                    line-height: 17px;
                    color: var(--palette-yellow);
                    img{
                        margin-bottom: -1px;
                    }
                }
            }
            .md-visible{
                margin-top: 1.5rem;
                p{
                    margin-bottom: 3px;
                }
                .bold-white{
                    font-size: 14px;
                    font-weight: bold;
                    color: var(--white-color);
                    margin-right: 0.3rem;
                }
                ul{
                    margin-top: 0.5rem;
                    li{
                        font-size: 13px;
                        line-height: 1.7;
                        margin-left: 1.5rem;
                        color: var(--white-color);
                    }
                }
            }
        }
    }

    @media screen and (min-width: 768px){
        padding: 2rem 2rem 3rem 2rem;
        // &--header{
        //     h2{
        //         font-size: 25px;
        //         line-height: 1.3;
        //     }
        // }
        &--content{
            padding-top: 3rem;
            flex-direction: row;
            &-left{
                margin: 0;
                min-width: 45vw;
                .swiper-wrapper,
                .altar-swiper{
                    height: 360px;
                }
                .altar-swiper{
                    width: auto;
                    overflow: hidden;
                    .swiper-wrapper{
                        .swiper-slide{
                            .slide-image{
                                height: 45%;
                            }
                            .slide-content{
                                height: 55%;
                            }
                        }
                    }
                    .swiper-button-prev,
                    .swiper-button-next{
                        top: 35% !important;
                    }
                }
            }
            &-right{
                padding: 0;
                width: 50%;
                p{
                }
            }
        }
    }

    @media screen and (min-width: 1024px){
        padding: 4.5rem 0 6rem 0;
        &--content{
            padding-top: 6rem;
            gap: 3rem;
            &-left{
                min-width: 0;
                width: 100%;
                .altar-swiper{
                    width: 90%;
                    height: auto;
                    .swiper-wrapper{
                        .swiper-slide{
                            .slide-image{
                                height: 100%;
                            }
                            .slide-content{
                                display: none;
                            }
                        }
                    }
                    .swiper-button-prev,
                    .swiper-button-next{
                        top: 50% !important;
                        transition: translateY(-50%);
                    }
                }
            }
            &-right{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                .slide-text{
                    display: none;
                    p{
                        max-width: 400px;
                    }
                    &--cta{
                        display: inline-block;
                        margin-top: 2rem;
                        padding: 0.8rem 1.2rem;
                        border-radius: 5px;
                        text-align: center;
                        background-color: var(--palette-yellow);
                        font-size: 17px;
                        line-height: 17px;
                        color: var(--white-color);
                        text-transform: uppercase;
                        transition: all .4s ease;
                        img{
                            margin-bottom: -1px;
                        }
                        &:hover{
                            background-color: #bc930c;
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 860px){
        &--content{
            flex-direction: column;
            align-items: center;
        }
    }

    @media screen and (max-width: 425px){
        &--header{
            h2{
                text-align: center;
                font-size: 28px;
                font-weight: 600;
            }
        }

        &--content{
            &-right{
                padding-top: 1.5rem;
            }
        }
    }
}