
:root{
    --white-color: #fff;
    --primary-color: var(--palette-red);
    --secondary-color: var(--palette-yellow);
    --background-color: #2e0601;
    --text-color-primary: #361901;

    --palette-blue: #9FB9D7ff;
    --palette-orange: #F16E40ff;
    --palette-yellow-dark: #F3A242ff;
    --palette-yellow: #E6B308ff;
    --palette-red: #BF0000ff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fafeff;

    @media screen and (max-width: 768px){
        &:has(.navbar-mobile.active){
            overflow: hidden;
            &::after{
                content: '';
                position: absolute;
                inset: 0;
                background-color: #000000a5;
                z-index: 11;
            }
            header{
                background-color: #1e0401;
            }
        }
    }
}

a{
    color: var(--white-color);
    text-decoration: none;
}

li{
    list-style: none;
}

.md-visible{
    display: none;
    @media screen and (min-width: 768px){
        display: block;
    }
}

.sm-visible{
    display: block;
    @media screen and (min-width: 768px){
        display: none;
    }
}

.lg-visible{
    display: none;
    @media screen and (min-width: 1024px){
        display: inline-block;
    }
}

.lg-invisible{
    @media screen and (min-width: 1024px){
        display: none;
    }
}