#acoes-realizadas {
  position: relative;
  z-index: 10;
}

.actions {
  padding: 4rem 1.5rem;
  max-width: 1100px;
}
.actions--header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.actions--header h2 {
  position: relative;
  text-align: left;
  text-transform: capitalize;
  color: var(--primary-color);
}
.actions--header p {
  font-size: 12px;
  text-align: left;
  text-transform: capitalize;
  color: var(--primary-color);
}
.actions--content {
  padding: 2rem 0 0;
}
.actions--content .actions-swiper,
.actions--content .swiper-wrapper {
  position: relative;
  width: 85vw;
  height: auto;
}
.actions--content .actions-swiper {
  margin: 0 auto;
  overflow: hidden;
}
.actions--content .actions-swiper .swiper-wrapper .slide-image {
  position: relative;
  width: 100%;
  height: 200px;
  border: none;
}
.actions--content .actions-swiper .swiper-wrapper .slide-image img,
.actions--content .actions-swiper .swiper-wrapper .slide-image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.actions--content .actions-swiper .swiper-wrapper .slide-image p {
  display: inline-block;
  position: absolute;
  bottom: -1px;
  right: -1px;
  background-color: #fafeff;
  padding: 0.2rem 0.5rem;
  border-top-left-radius: 5px;
  font-size: 12px;
}
.actions--content .actions-swiper .swiper-wrapper .slide-content {
  margin-top: 1.5rem;
  height: 200px;
}
.actions--content .actions-swiper .swiper-wrapper .slide-content--title {
  margin-bottom: 1rem;
  font-size: 18px;
  color: var(--primary-color);
}
.actions--content .actions-swiper .swiper-wrapper .slide-content--text {
  font-size: 15px;
  line-height: 1.4;
}
.actions--content .actions-swiper .swiper-wrapper .slide-content--text b {
  color: var(--secondary-color);
}
.actions--content .actions-cards {
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-areas: "card1 card2 card3" "card4 card5 card6";
}
.actions--content .actions-cards .card-1 {
  background-color: green;
  grid-area: card1;
}
.actions--content .actions-cards .card-2 {
  background-color: green;
  grid-area: card2;
}
.actions--content .actions-cards .card-3 {
  background-color: green;
  grid-area: card3;
}
.actions--content .actions-cards .card-4 {
  background-color: green;
  grid-area: card4;
}
.actions--content .actions-cards .card-5 {
  background-color: green;
  grid-area: card5;
}
.actions--content .actions-cards .card-6 {
  background-color: green;
  grid-area: card6;
}
.actions--content .actions-cards .card {
  height: 220px;
  width: 320px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  cursor: pointer;
}
.actions--content .actions-cards .card .card--image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.actions--content .actions-cards .card .card--image::after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(9, 39, 52, 0.81);
  background-image: url("../../assets/textures/texture_5.png");
  border-radius: 15px;
}
.actions--content .actions-cards .card .card--image .bg-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.actions--content .actions-cards .card .card--logo {
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.actions--content .actions-cards .card .card--logo .arca-logo {
  width: 120px;
  height: auto;
  z-index: 5;
}
.actions--content .actions-cards .card .card--hover {
  display: block;
  position: absolute;
  bottom: 2rem;
  padding: 0 1rem;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
  transition: all 0.3s;
}
.actions--content .actions-cards .card .card--hover h4 {
  font-size: 15px;
  color: var(--white-color);
  margin-bottom: 1rem;
}
.actions--content .actions-cards .card .card--hover p {
  font-size: 12px;
  line-height: 1.5;
  color: var(--white-color);
}
.actions--content .actions-cards .card:hover .card--logo {
  transform: translate(-50%, -100%);
  opacity: 0;
}
.actions--content .actions-cards .card:hover .card--hover {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: all;
}
@media screen and (min-width: 768px) {
  .actions--content .actions-swiper,
  .actions--content .swiper-wrapper {
    width: 45vw;
  }
}
@media screen and (min-width: 1024px) {
  .actions {
    padding: 4rem 3rem;
    max-width: 1100px;
    margin: 0 auto;
  }
  .actions--header h2 {
    font-size: 32px;
  }
  .actions--header p {
    text-transform: unset;
    font-weight: 500;
    font-size: 16px;
  }
  .actions--content {
    margin-top: 2rem;
  }
}/*# sourceMappingURL=actions.css.map */